* { margin: 0px;
    padding: auto;
    box-sizing: border-box;
    font-family:'Georgia', Arial, sans-serif;
    background-color:cornsilk;}

div {display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px;
    text-align: center;
flex: auto;}

p {color: white; text-align: center;}

a {text-decoration: none;}

.title-box {
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    font-size: 50px;
    color: black;}

.homeblock {display: block; margin-top: 10px;}
.hbox {text-align: center; margin: 20px;}

@media (max-width: 768px) {
    div {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .homeblock {
        width: 80%;
        height: auto;
    }

    .title-box {
        width: 100%;
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
    }
}
